:root {
  color-scheme: light dark;
  --shadow: hsla(0, 0%, 0%, 10%);
  /* Light theme */
    --background: hsl(0, 0%, 97%);
  --surface: hsl(0, 0%, 90%);
  --active: hsl(0, 0%, 10%);
  --panel: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark theme */
    --background: hsl(0, 0%, 7%);
    --surface: hsl(0, 0%, 15%);
    --active: white;
    --panel: black;
  }
}

body {
  background-color: var(--background);
  padding: 2em;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
}

main {
  max-width: 80em;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}
